<!DOCTYPE html>
<html>

<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">

    <style>
        .inactive {
            pointer-events: none;
            filter: blur(5px);
            filter: grayscale(1);
        }
    </style>
</head>

<body>
    <script>
        const CONFIG = {
            FACEBOOK_APP_ID: "<%= CONFIG.FACEBOOK_APP_ID %>"
        }
    </script>
    <script src="index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <p>To receive Santa Delivery Notifications via Facebook (with SMS fallback) please:</p>

    <ol>
        <li class="step-1">
            <div class="instruction">    
                Login to Facebook
            </div>
            <div class="action">
                <fb:login-button scope="public_profile,email" autologoutlink="true" onlogin="checkLoginState()">
                </fb:login-button>
            </div>
            <div class="status"></div>
        </li>
        <li class="step-2">
            <div class="instruction">
                Let us know your location
            </div>
            <div class="action">
                <button onclick="getLocation()">Go!</button>
            </div>
            <div class="status"></div>
        </li>
        <li class="step-3">
            <div class="instruction">
                Tell us your phone number for SMS notification fallback
            </div>
            <div class="action">
                <input id="sms_tel" type="tel" placeholder="Your Phone Number" value="<%= user.tel %>" required />
                <button onclick="checkTel()">Ok</button>
            </div>
            <div class="status"></div>
        </li>
        <li class="step-4">
            <div class="instruction">
                Subscribe for updates in Facebook Messenger
            </div>
            <div class="action">
                <!-- https://developers.facebook.com/docs/messenger-platform/discovery/send-to-messenger-plugin -->
                <div id="send_to_messenger" class="fb-send-to-messenger"
                    messenger_app_id="261968191158959"
                    page_id="1602071969893801"
                    data-ref="<%= user.uuid %>" 
                    color="blue" 
                    size="large",
                    cta_text="SUBSCRIBE">
                </div>
            </div>
            <div class="status"></div>
            
        </li>
    </ol>
    
</body>

</html>